flows.json
[{"id":"e1d68291.f5cf6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"398cf26b.17bd0e","type":"ibmiot in","z":"e1d68291.f5cf6","authentication":"apiKey","apiKey":"65a6e409.ce341c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1023","applicationId":"","deviceType":"nodebmp","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":330,"y":580,"wires":[["85bdafb.489cf5","1e84bd53.eed593","cb2b1ed6.21996"]]},{"id":"85bdafb.489cf5","type":"debug","z":"e1d68291.f5cf6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":580,"wires":[]},{"id":"1e84bd53.eed593","type":"function","z":"e1d68291.f5cf6","name":"temperature","func":"msg.payload=msg.payload.d.temperature \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":480,"wires":[["85bdafb.489cf5","d82a7b29.9397b8"]]},{"id":"cb2b1ed6.21996","type":"function","z":"e1d68291.f5cf6","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":660,"wires":[["85bdafb.489cf5","40f988eb.557a98"]]},{"id":"d82a7b29.9397b8","type":"ui_gauge","z":"e1d68291.f5cf6","name":"temperature","group":"9849cd1b.0eec7","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp guage","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#088191","#075e69","#0e74a0"],"seg1":"","seg2":"","x":740,"y":480,"wires":[]},{"id":"40f988eb.557a98","type":"ui_gauge","z":"e1d68291.f5cf6","name":"humidity","group":"b6f82915.aec998","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity guage","label":"%","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#1bc8f3","#ca3838"],"seg1":"","seg2":"","x":690,"y":680,"wires":[]},{"id":"f836b4b2.fc17e8","type":"ibmiot out","z":"e1d68291.f5cf6","authentication":"apiKey","apiKey":"65a6e409.ce341c","outputType":"cmd","deviceId":"1022","deviceType":"nodebmp","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":980,"wires":[]},{"id":"752e9375.24275c","type":"http request","z":"e1d68291.f5cf6","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Guntur,IN&appid=806ff78b3aaab299f420d155df4f174f","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":740,"wires":[["60dd532a.b468fc"]]},{"id":"247f6b53.a99494","type":"inject","z":"e1d68291.f5cf6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":740,"wires":[["752e9375.24275c"]]},{"id":"83777755.297698","type":"ui_button","z":"e1d68291.f5cf6","name":"","group":"1b125663.15f87a","order":0,"width":0,"height":0,"passthru":false,"label":"motor ON ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor turned ON\"}","payloadType":"json","topic":"","x":310,"y":940,"wires":[["f836b4b2.fc17e8"]]},{"id":"5e3b9b3d.f17834","type":"ui_button","z":"e1d68291.f5cf6","name":"","group":"1b125663.15f87a","order":1,"width":0,"height":0,"passthru":false,"label":"motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor turned  OFF\"}","payloadType":"json","topic":"","x":320,"y":1040,"wires":[["f836b4b2.fc17e8"]]},{"id":"60dd532a.b468fc","type":"debug","z":"e1d68291.f5cf6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":740,"wires":[]},{"id":"65a6e409.ce341c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"dalm2w.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9849cd1b.0eec7","type":"ui_group","z":"","name":"smart","tab":"9c53897e.a10c78","order":1,"disp":true,"width":"6","collapse":false},{"id":"b6f82915.aec998","type":"ui_group","z":"","name":"smart","tab":"7bdb8e39.d0af9","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b125663.15f87a","type":"ui_group","z":"","name":"smart","tab":"3fc7a1f.fb8c65e","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c53897e.a10c78","type":"ui_tab","z":"","name":"temperature","icon":"dashboard","disabled":false,"hidden":false},{"id":"7bdb8e39.d0af9","type":"ui_tab","z":"","name":"Humidity","icon":"dashboard","disabled":false,"hidden":false},{"id":"3fc7a1f.fb8c65e","type":"ui_tab","z":"","name":"motor ","icon":"dashboard","disabled":false,"hidden":false}]